@media (max-width: 768px) {
    header{
        justify-content: space-around;

    }
    .headerNaranja{
        justify-content: space-around;
    }
    .NavNaranja{
        display:none;
    }
    
}