
/***** BODY *****/
body{
    font-family: 'Roboto', sans-serif;
    background: white;
    margin:0;
    padding:0;
    box-sizing:border-box;

    
}

/***** HEADER *****/
header{
    background: black;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
h2 header{
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    display:flex;
    margin-left: 80px;
}
.navHeaderNegro{
    display:flex;
    align-items: center;
    border: none;
    background: black;
    color: white;
    margin-right: 200px;
}
.navHeader{
    display:flex;
    align-items: center;
    border: none;
    background: black;
    color: white;
    padding: 10px;
    font-size: medium;
}
.navHeader option{
    color: white;

    
}

/***MAIN****/

.headerNaranja{
    background-color:  #F0A83E;
    width: 100%;
    height: 70px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px auto 0px auto;
    overflow:visible;
    display: flex;
    justify-content: space-around;
}
.headerNaranja img{ 
    max-width: 75%;
    height: auto;
}
#menuBurger{
    display: none;
}
.headerNaranja nav {
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    float: right;
}
.headerNaranja a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    float: right;
    padding: 5px;
}
.headerNaranja i{
    padding:8px;
}
/******BANNER GRANDE************/

.ElementosBannerGrande {
    background-image: url(/img/bannerGrande.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.placer{
    Width: 380px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    margin-right: 200px;
}

.descuento{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0,5px;
    margin-top:40px;
    margin-right: 300px;

}
.botonComederos{
    display: flex;
    padding: 25px;
    font-size: 25px;
    background-color: #F0A83E;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-right: 310px;
    margin-top:20px;
}
/******PRODUCTOS DESTACADOS*********/

.productosDestacados div{
    display: flex;
    flex-direction: column;
    
}
/****CARD******/
#iconoHuella{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #F0A83E;
}
.productosDestacados{
    display: flex;
    flex-direction: column;
}
.productosDestacados h2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.vinculosProductosDestacados{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    margin: 10px 15px;
    flex-direction: row;
}

.linkProductosDestacados{
    display: flex;
    text-decoration: none;
    flex-direction: row;
}
.linkProductosDestacados li{
    list-style: none;
    display: flex;
    text-decoration: none;


}
.linkProductosDestacados a{
    text-decoration: none;
    color: #666666;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}
/*******TARJETAS PRODUCTOS********/
.TarjetasProductos{
    display: flex;
    justify-content: space-evenly;
}
.imagenesProductos{
    display: flex;
    align-items: center;
    background-color: #FBFAF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    align-content: center;
    margin: 5px;
    max-width: 90%;
    text-align: center;
}
.NombreProdTarjeta{
    color: #3C2313;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 30%;
    text-align: center;

}
.PrecioTarjeta{
    color: #F0A83E;
    font-weight: 500;
    font-size: 24px;
    width: 30%;
    text-align: center;
}



/*******CONTACTANOS************/
.Contactanos{
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
}
.Contactanos h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}
.Input{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.formu1{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nombreApellido{
    background-color: #3C2313;
    color: white;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-family: Roboto;
    font-weight: lighter;
    margin: 5px 0px;
}
.correoElectronico{
    background-color: #3C2313;
    color: white;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 5px 0px;

}
.Telefono{
    background-color: #3C2313;
    color: white;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 5px 0px;
}
.botonesContactanos{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    align-content: center;
    justify-content: center;
}
.botonResetear{
    background: #8A8787;
    border-radius: 15px;
    color: white;
    width: 110px;
    height: 34px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-style: none;
}
.botonEnviar{
    background: #F0A83E;
    border-radius: 15px;
    color: white;
    width: 110px;
    height: 34px;
    border-style: none;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}
.suscribirse{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 62px;
    display: flex;
    background-color: #F0A83E;
    color: #F3F3F3;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.correoSuscribirse{
    background: #FFFFFF;
    border-radius: 15px;
    width: 271px;
    height: 40px;
    color: lightgray;
    border-style: none;
}
.suscribirme{
    width: 100px;
    height: 34px;
    background: #3C2313;
    border-radius: 15px;
    color: white;
    border-style: none;
}
.susNovedades{
    color: #F3F3F3;
    font-size: 20px;
    text-align: center;
}
/**********FOOTER MARRON**********/
.datos{
    background-color: #3C2313;
    color: #F3F3F3;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}
.ElementoDatos{
    align-items: center;
    display: flex;
}
.infoElement{
    display: flex;
    flex-direction: column;
    margin: 20px;

}
.infoName{
    font-size: 24px;
    font-weight: 500;
}
.infoData{
    font-size: 18px;
    font-weight: 500;
    color: #8A8787;
}

/***** FOOTER *****/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer p{
    color: #FFFFFF;
    text-align: center;
}

@media (max-width: 768px) {
    header {
        background-color: black;
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .navHeader{
        background-color: black;
        border-style: none;
        color: #F3F3F3;
        font-size: 18px;
    }

    .headerNaranja nav {
        display: none;
    }
    #menuBurger{
        display: flex;
        color: white;
        font-size: 50px;
        text-align: center;
        justify-self: center;
    }
    .TarjetasProductos{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .imagenesProductos{
        display: flex;
        align-items: center;
        background-color: #FBFAF6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        flex-direction: column;
        align-content: center;
        margin: 5px;
        max-width: 90%;
        text-align: center;
    }


}